# LaTeX temporaires
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.xdv
*.run.xml
*.synctex.gz
*.fls
*.fdb_latexmk

# PDF généré (à retirer si vous voulez versionner le PDF)
# main.pdf

# Éditeurs
.vscode/
*.sublime-project
*.sublime-workspace
.idea/

# OS
Thumbs.db
.DS_Store
